{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Hello</title>
</head>
<body>
<div class="container">
    <p>This is my second Django project!</p>
    <h1>Super new tech calculator with AI support. Try now!</h1>
    <br>

    <h5>v v v</h5>
    <form action="/calculator">
    <input type="submit" value="--> CLICK ON ME! <--" />
    </form>
    <h5>^ ^ ^</h5>

</div>

</body>

</html>